body{
margin: auto;  
width: 640px;
font-family: 'Avenir', sans-serif;
margin-top: 100px;


}

.links, h1, h2{
  text-align: center;
}
.links {
  position: absolute;
  top: 0;
  right: 0;
}

h1{
  color: #cd0808;
  text-align: center;
}
img{
  padding: 37%;
  image-orientation:flip;
}
nav{
  display: flex;
  margin-top: 50px;
  margin-right: 40px;
  gap: 5px;

}
.about{
  text-align: center;
}

